body {
  background: #2e2f2f;
  color: whitesmoke;
}

/* NavBar */
#navBar {
  background: rgba(46, 47, 47, 0.8);
}

#navBar .left a, #navBar .right a, #navBar .right button {
  color: whitesmoke;
  background: transparent;
}

/* Footer */
#footer {
  background: rgba(46, 47, 47, 0.8);
}

#footer a {
  color: whitesmoke;
}

/* Container */
#container .headingContainer .overlay {
  background: rgba(46, 47, 47, 0.6);
}

#container .headingContainer .overlay .textContainer {
  filter: drop-shadow(0 1rem .75rem rgba(245, 245, 245, .8));
}

#container .headingContainer .overlay .textContainer img {
  filter: drop-shadow(0 .5rem .75rem rgba(245, 245, 245, .8));
}

#container .partingContainer .heading .overlay {
  background: rgba(46, 47, 47, 0.8);
}

/* Container Card */
#container .partingContainer .textContainer .cardContainer .card {
  filter: drop-shadow(.5rem .5rem .25rem rgba(245, 245, 245, .8));
}

#container .partingContainer .textContainer .cardContainer .card:hover {
  filter: drop-shadow(0 0 .25rem rgba(245, 245, 245, .8));
}