body.light {
  background: rgba(245, 245, 245, .8);
  color: #2e2f2f;
}

/* NavBar */
.light #navBar {
  background: rgba(245, 245, 245, .8);
}

.light #navBar .left a, .light #navBar .right a, .light #navBar .right button {
  color: #2e2f2f;
  background: transparent;
}

/* Footer */
.light #footer {
  background: rgba(245, 245, 245, .8);
}

.light #footer a {
  color: #2e2f2f;
}

/* Container */
.light #container .headingContainer .overlay {
  background: rgba(245, 245, 245, 0.6);
}

.light #container .headingContainer .overlay .textContainer {
  filter: drop-shadow(0 1rem .75rem #2e2f2f);
}

.light #container .headingContainer .overlay .textContainer img {
  filter: drop-shadow(0 .5rem .75rem #2e2f2f);
}

.light #container .partingContainer .heading .overlay {
  background: rgba(245, 245, 245, 0.8);
}