body.light {
  background: rgba(245, 245, 245, .8);
  color: #2e2f2f;
}

/* NavBar */
.light #navBar {
  background: rgba(245, 245, 245, .8);
}

.light #navBar a {
  color: #2e2f2f;
}

.light #navBar .right button {
  color: #2e2f2f;
  background: transparent;
}

/* Footer */
.light #footer {
  background: rgba(245, 245, 245, .8);
}

.light #footer a {
  color: #2e2f2f;
}

/* Container */
.light #container .headingContainer .overlay {
  background: rgba(245, 245, 245, 0.6);
}

.light #container .headingContainer .overlay .textContainer {
  filter: drop-shadow(0 1rem .75rem #2e2f2f);
}

.light #container .headingContainer .overlay .textContainer img {
  filter: drop-shadow(0 .5rem .75rem #2e2f2f);
}

.light #container .partingContainer .heading .overlay {
  background: rgba(245, 245, 245, 0.8);
}

/* Container Card */
.light #container .partingContainer .textContainer .cardContainer .card {
  filter: drop-shadow(.5rem .5rem .25rem #2e2f2f);
}

.light #container .partingContainer .textContainer .cardContainer .card:hover {
  filter: drop-shadow(0 0 .25rem #2e2f2f);
}

.light #container .partingContainer .textContainer .techContainer .techLogo {
  filter: drop-shadow(0 0 .25rem #2e2f2f);
  border: 2px solid transparent;
}

.light #container .partingContainer .textContainer .techContainer .techLogo:hover {
  filter: drop-shadow(0 0 .25rem transparent);
  border: 2px solid #2e2f2f;
}