@layer text, img;

#container {
  width: 100%;
  min-height: 100vh;
}

#container .headingContainer {
  width: 100%;
  height: 100vh;
  
  background: url(https://frame.caffe.quest/cdn);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#container .headingContainer .overlay {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#container .headingContainer .overlay div {
  width: 100%;
  min-width: 18rem;
  max-width: 20rem;
}

@layer img {
  #container .headingContainer .overlay .textContainer img {
    width: 250px;
    border-radius: 50%;
    border: 5px solid #fe6e6f;
    margin-top: -10rem;
  }
}

@layer text {
  #container .headingContainer .overlay .textContainer {
    background-color: whitesmoke;
    color: #2e2f2f;
    padding: 1rem 0;
    border-radius: 1rem;
  }

  #container .headingContainer .overlay .textContainer .text {
    margin-bottom: 1rem;
  }
  
  #container .headingContainer .overlay .textContainer .text h1 {
    margin: 0;
    padding: 0 1rem;
  }
  
  #container .headingContainer .overlay .textContainer .text h3 {
    margin: 0;
    opacity: .6;
    padding: 0 1.25rem;
  }
}

#container .partingContainer {
  width: 100%;
  height: 100vh;
}