@layer text,
img;

#container {
  width: 100%;
  min-height: 100vh;
}

#container .headingContainer {
  width: 100%;
  height: 100vh;

  background: url(https://picsum.photos/id/5/1920/1080);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#container .overlay {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;

  backdrop-filter: blur(3px);
}

#container .headingContainer .overlay div.overallContainer {
  width: 100%;
  min-width: 18rem;
  max-width: 20rem;
  animation: headingTransition 2s linear;
}

@layer img {
  #container .headingContainer .overlay .textContainer img {
    width: 250px;
    border-radius: 50%;
    border: 5px solid #fe6e6f;
    margin-top: -10rem;
  }
}

@layer text {
  #container .headingContainer .overlay .textContainer {
    background-color: whitesmoke;
    color: #2e2f2f;
    padding-top: 1rem;
    border-radius: 1rem;
  }

  #container .headingContainer .overlay .textContainer .text {
    padding-bottom: 1rem;
  }

  #container .headingContainer .overlay .textContainer .text h1 {
    margin: 0;
    padding: 0 1rem;
  }

  #container .headingContainer .overlay .textContainer .text h3 {
    margin: 0;
    opacity: .6;
    padding: 0 1.25rem;
    font-size: 18px;
  }

  #container .headingContainer .overlay .textContainer a {
    width: 100%;
    display: block;

    padding: 1rem 0;
    text-decoration: none;

    background: #fe6e6f;
    color: whitesmoke;

    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
  }

  #container .headingContainer .overlay .textContainer a:hover {
    opacity: .6;
  }
}

#container .partingContainer {
  width: 100%;
  min-height: 100vh;
  padding-bottom: 4rem;
}

#container .partingContainer .heading {
  width: 100%;
  height: 30vh;

  background: url(https://picsum.photos/id/5/1920/1080);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#container .partingContainer .textContainer {
  width: 80%;
  margin: 0 auto;

  font-size: 16px;
}

#container .partingContainer .textContainer a {
  color: whitesmoke;
  text-decoration: none;
}

#container .partingContainer .textContainer a:hover {
  opacity: .6;
  text-decoration: underline;
}

#container .partingContainer .textContainer .cardContainer {
  width: 100%;

  padding: 1rem 0;

  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: stretch;
  text-align: center;

  gap: 1rem;
}

#container .partingContainer .textContainer .cardContainer .card {
  width: 18rem;

  background: whitesmoke;
  color: #2e2f2f;

  border-radius: 1rem;

  display: flex;
  flex-direction: column;
}

#container .partingContainer .textContainer .cardContainer .card * {
  padding: 0 1rem;
}

#container .partingContainer .textContainer .cardContainer .card .cardBody {
  width: auto;
  height: 100%;
  flex-grow: 1;
}

#container .partingContainer .textContainer .cardContainer .card .cardBody>p {
  margin: 0;
  font-size: 1rem;
  text-decoration: underline;
}

#container .partingContainer .textContainer .cardContainer .card .cardBody>h4:nth-child(1) {
  padding-top: 1rem;
}

#container .partingContainer .textContainer .cardContainer .card .cardBody>h4 {
  margin: 0;
  opacity: .6;
}

#container .partingContainer .textContainer .cardContainer .card .cardBody>h3 {
  margin: 0;
  font-size: 18px;
}

#container .partingContainer .textContainer .cardContainer .card .cardFooter {
  width: auto;

  margin-top: 1rem;
  padding: 1rem 0;

  background-color: #c8c8c8;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

#container .partingContainer .textContainer .cardContainer .card .cardHeader {
  width: 100%;
  height: 10rem;

  padding: 0 !important;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;

  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}

#container .partingContainer #joinedEvents .textContainer .cardContainer .card .cardBody,
#container .partingContainer #certificates .textContainer .cardContainer .card .cardBody {
  flex-grow: 0 !important;
  height: auto !important;
}

#container .partingContainer #joinedEvents .textContainer .cardContainer .card .cardBody h4,
#container .partingContainer #certificates .textContainer .cardContainer .card .cardBody h4 {
  font-size: 18px;
}

#container .partingContainer #joinedEvents .textContainer .cardContainer .card .cardBody span,
#container .partingContainer #certificates .textContainer .cardContainer .card .cardBody span {
  display: block;
}

#container .partingContainer #certificates .textContainer .cardContainer {
  margin-bottom: 1rem;
  font-size: 15px;
}

/* Tech Stats */
#container .partingContainer .textContainer .techContainer {
  width: 80%;
  margin: 0 auto;
  padding: 1rem 0;
  margin-bottom: 1rem;

  justify-content: center;
  text-align: center;
}

#container .partingContainer .textContainer .techContainer .techLogo {
  width: 52px;
  height: 52px;

  padding: .5rem;
  margin: 0 .25rem;
  border-radius: 10px;

  background: whitesmoke;
}

#container .partingContainer .textContainer .techContainer .techLogo:hover {
  transform: scale(.85, .85);
  opacity: .6;
}