@layer text, img;

#container {
  width: 100%;
  min-height: 100vh;
}

#container .headingContainer {
  width: 100%;
  height: 100vh;
  
  background: url(https://picsum.photos/id/5/1920/1080);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#container .overlay {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;

  backdrop-filter: blur(3px);
}

#container .headingContainer .overlay div.overallContainer {
  width: 100%;
  min-width: 18rem;
  max-width: 20rem;
  animation: headingTransition 2s linear;
}

@layer img {
  #container .headingContainer .overlay .textContainer img {
    width: 250px;
    border-radius: 50%;
    border: 5px solid #fe6e6f;
    margin-top: -10rem;
  }
}

@layer text {
  #container .headingContainer .overlay .textContainer {
    background-color: whitesmoke;
    color: #2e2f2f;
    padding-top: 1rem;
    border-radius: 1rem;
  }

  #container .headingContainer .overlay .textContainer .text {
    padding-bottom: 1rem;
  }
  
  #container .headingContainer .overlay .textContainer .text h1 {
    margin: 0;
    padding: 0 1rem;
  }
  
  #container .headingContainer .overlay .textContainer .text h3 {
    margin: 0;
    opacity: .6;
    padding: 0 1.25rem;
  }
}

#container .partingContainer {
  width: 100%;
  height: 100vh;
}

#container .partingContainer .heading {
  width: 100%;
  height: 30vh;

  background: url(https://picsum.photos/id/5/1920/1080);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#container .partingContainer .textContainer {
  width: 80%;

  margin: 0 auto;
  padding: 3rem 0;

  font-size: 16px;
}

#container .partingContainer .textContainer a {
  color: whitesmoke;
  text-decoration: none;
}

#container .partingContainer .textContainer a:hover {
  opacity: .6;
  text-decoration: underline;
}