#navBar {
  width: 100%;
  display: flex;
  position: fixed;
  top: 0;

  background: #2e2f2f;
}

#navBar .left {
  width: auto;
  justify-content: start;
}

#navBar .right {
  width: 100%;
  justify-content: end;
  text-align: right;
}

#navBar .left a, #navBar .right a, #navBar .right button {
  width: auto;
  display: inline-block;

  text-decoration: none;
  border: none;

  padding: 1rem;
  transition: all .3s;
}

#navBar .left a:hover, #navBar .right a:hover, #navBar .right button:hover {
  opacity: .6;
  cursor: pointer;
}