body {
  background: #2e2f2f;
  color: whitesmoke;
}

/* NavBar */
#navBar .left a, #navBar .right a, #navBar .right button {
  color: whitesmoke;
  background: transparent;
}

/* Footer */
#footer a {
  color: whitesmoke;
}